* {
  box-sizing: border-box;
}

header{
  width: 60%;
  margin: 0;
  text-align: center;
  background-color: white;
}

body{
  margin: 0px;
  background-image: url('../Pictures/88-887616_boy-if-you-dont-stop-drake-face-png.png');
  background-repeat: repeat-y;
  background-size: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

main{
  width: 60%;
  background-color: white;
}

.game-board{
  height: 90vh;
  display: flex;
  justify-content: center;
}

.grid {
  align-items: center;
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 700px;
  height: 700px;
  background-image: url('../Pictures/d8f.jpg');
}

.grid div{
  border: 1px solid lightgrey;
  flex-grow: 1;
  height: 10%;
  width: 10%;
}

.grid div.drake{
  background-image: url('../Pictures/10054621_rs-214037-Screen-Shot-2015-10-23-at-11.10.18-AM.png');
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}

.grid div.drake-left{
  background-image: url('../Pictures/rs-214037-Screen-Shot-2015-10-23-at-11.10.18-AM.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.grid div.record{
  background-image: url('../Pictures/download.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.grid div.golden{
  background-image: url('../Pictures/b3c8dd2bfaf113b7d29986a4b02d556e_royalty-free-gold-records-clip-art-vector-images-illustrations-_612-592.png');
  background-repeat: no-repeat;
  background-size: contain;
}

