* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Main Pages Background CSS */

#background {
  background-image: url('../Pictures/88-887616_boy-if-you-dont-stop-drake-face-png.png');
  background-repeat: repeat;
  background-size: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#game-over {
  display: none;
  justify-content: center;
  width: 100%;
  background-image: url('../Pictures/backgroundchange.png');
  background-repeat: repeat;
  background-size: 200px;
}

#score-board {
  display: none;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-image: url('../Pictures/88-887616_boy-if-you-dont-stop-drake-face-png.png');
  background-repeat: repeat;
  background-size: 200px;
}

/* Main Pages Main Content CSS */

main {
  width: 70%;
  background-color: white;
  border-bottom: 3px solid black;
  padding-bottom: 10px;
}

.second-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  height: 100vh;
  width: 70%;
  text-align: center;
  border: 2px solid black;
  margin-top: 10px;
}

.third-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  height: 100vh;
  width: 70%;
  text-align: center;
  border: 2px solid black;
  margin-top: 10px;
}

/* Headers */

header {
  width: 70%;
  text-align: center;
  background-color: white;
  border-top: 3px solid black;
  margin-top: -50px;
  display: flex;
  flex-direction: column;
}

.game-over-header {
  display: flex;
  border: none;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 200px;
  margin-top: 0;
}

.score-board-header {
  display: flex;
  border: none;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 200px;
  margin-top: 10px;
}

/* Main Page- The Gane */

.movement-buttons {
  display: none;
}

.movement-buttons button {
  border-radius: 50%;
  color: white;
  background-image: url('../Pictures/buttonface.jpg');
  background-size: 100px;
  background-repeat: no-repeat;
}

.movement-buttons button:hover {
  background-image: url('../Pictures/drakeBb.jpg');
}

.mute-button {
  display: flex;
  width: 100%;
  margin: 0;
}

.mute-button button {
  background-color: black;
  color: white;
  border: 2px solid white;
  height: 25px;
  width: 50px;
}

.mute-button button:hover {
  background: grey;
  box-shadow: 5px 5px 5px black;
}

.mute-button button.muted {
  background-color: grey;
  font-weight: bold;
}

header, main {
  border-right: 3px solid black;
  border-left: 3px solid black;
  margin: 0;
}

h1 {
  font-size: 50px;
  letter-spacing: 15px;
  font-family: 'Gloria Hallelujah', cursive;
  margin: 20px 0 10px 0;
  text-shadow: 5px 5px 5px seagreen;
}

#background h1 {
  animation: bring-in-main 5s 1;
}

.hidden-instructions {
  display: flex;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
  justify-content: center;
}

.difficulty-buttons {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

.difficulty-buttons button {
  background-color: grey;
  border: 2px solid black;
  margin: 0 5px 0 5px;
}

#but-one:hover {
  background-color: green;
  box-shadow: 1px 1px 10px orange;
}

#but-two:hover {
  background-color: orange;
  box-shadow: 1px 1px 10px red;
}

#but-three:hover {
  background-color: red;
  box-shadow: 1px 1px 10px green;
}

.instructions {
  text-align: center;
  padding: 0 140px 15px 140px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.game-board {
  height: 98vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.score-tag, .score {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  color: white;
}

.score-tag {
  border: 2px solid white;
  width: 115px;
  padding: 8px 0 8px 8px;
}

.score {
  color: white;
}

/* Page 2- Game Over  */

.game-over-header h1 {
  font-family: 'Press Start 2P', cursive;
  animation: vibrate 3s infinite;
  color: red;
}

.score-page-two {
  color: black;
  font-size: 70px;
  font-weight: black;
}

.options {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.options button {
  font-size: 20px;
  font-weight: bold;
  background-color: black;
  border: 2px solid white;
  color: white;
}

.options button:hover {
  background-color: red;
  color: black;
  border: 2px solid black;
  box-shadow: 5px 5px 5px black;
}

.game-over-header img {
  box-shadow: 0 5px 5px grey;
}

/* Page Three- Score Board */

.scoreboard-entry {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

h3 {
  border: 2px solid black;
  padding: 30px;
  margin: 0;
}

input {
  height: 50px;
  font-size: 25px;
}

form {
  display: flex;
  flex-direction: column;
  align-content: center;
}

#scoreboard-submit {
  color: white;
  background-color: black;
}

#scoreboard-submit:hover {
  background-color: red;
  color: black;
  border: 2px solid black;
  box-shadow: 5px 5px 5px black;
}

.highscore {
  background-color: black;
  color: red;
  border: 2px solid red;
  width: 200px;
}

.your-score {
  background-color: red;
  color: black;
  font-weight: bold;
  width: 200px;
  border: 2px solid black;
}

.highscore p {
  border: 2px solid red;
  padding: 20px;
  margin: 0;
}

.your-score p {
  border: 2px solid black;
  padding: 20px;
  margin: 0;
}

.highscore h3 {
  border: 2px solid red;
}

.score-board-header img {
  height: 200px;
  width: 200px;
  box-shadow: 0 5px 5px grey;
}

.scores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  font-size: 30px;
}

.return-mainpage {
  font-size: 20px;
  font-weight: bold;
  background-color: black;
  border: 2px solid white;
  color: white;
}

.return-mainpage:hover {
  background-color: red;
  color: black;
  border: 2px solid black;
  box-shadow: 5px 5px 5px black;
}

/* Grid and Class Lists */

.grid {
  align-items: center;
  border: 5px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 700px;
  height: 700px;
  background-image: url('../Pictures/main-background.jpg');
  background-size: cover;
}

.grid div {
  flex-grow: 1;
  height: 10%;
  width: 10%;
}

.grid div.drake {
  background-image: url('../Pictures/10054621_rs-214037-Screen-Shot-2015-10-23-at-11.10.18-AM.png');
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}

.grid div.drake-left {
  background-image: url('../Pictures/rs-214037-Screen-Shot-2015-10-23-at-11.10.18-AM.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.grid div.record {
  background-image: url('../Pictures/download.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.grid div.golden {
  background-image: url('../Pictures/b3c8dd2bfaf113b7d29986a4b02d556e_royalty-free-gold-records-clip-art-vector-images-illustrations-_612-592.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.grid div.drake1 {
  background-image: url('../Pictures/snake2.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.grid div.drake2 {
  background-image: url('../Pictures/snake3.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.grid div.drake3 {
  background-image: url('../Pictures/snake1.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.grid div.drake4 {
  background-image: url('../Pictures/snake4.png');
  background-repeat: no-repeat;
  background-size: contain;
}

/* Media */

@media only screen and (max-width: 1000px) {
  /* Page One */
  .grid {
    width: 600px;
    height: 600px;
    margin-top: -40px;
  }
  .game-board {
    margin-top: -25px;
  }
  #background h1 {
    display: none;
  }
  .mute-button {
    display: flex;
  }
  .instructions {
    font-size: 12px;
    width: 100%;
  }
  .mute-button button:hover {
    box-shadow: none;
  }
  /* Page Two */
  .second-main {
    width: 100%;
    margin: 0
  }
  /* Page three */
  .third-main {
    width: 100%;
    margin-top: 0;
  }
}

@media only screen and (max-width: 860px) {
  /* Page One */
  .grid {
    width: 500px;
    height: 500px;
    margin-top: -100px;
  }
  .game-board {
    margin-top: -50px;
  }
  /* Page Two */
}

@media only screen and (max-width: 720px) {
  /* Page One */
  main {
    width: 100%;
    margin: 0;
  }
  header {
    width: 100%;
  }
  .grid {
    width: 550px;
    width: 550px;
  }
  #background {
    background-color: white;
  }
  .grid {
    margin-top: -20px;
  }
  .instructions {
    display: none;
  }
  .difficulty-buttons {
    margin-bottom: 40px;
  }
  /* Page Two */
  .game-over-header h1 {
    font-size: 30px;
  }
  .third-main h1 {
    font-size: 30px;
  }
  /* Page Three */
  input {
    height: 35px;
    font-size: 16px;
    padding-left: 5px;
    border: 2px solid black;
  }
}

@media only screen and (max-width: 550px) {
  /* Page One */
  main {
    background-color: black;
    color: white;
  }
  .mute-button {
    background-color: black;
  }
  .grid {
    width: 450px;
    height: 450px;
    margin-top: -200px;
  }
  .game-board {
    margin-top: 50px;
  }
  .movement-buttons {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }
  .move-buttons {
    width: 20%;
    font-size: 50px;
    padding: 20px 0 20px 0;
  }
  /* Page Two */
  .second-main {
    background-color: red;
  }
  .game-over-header {
    background-color: black;
    color: red;
    width: 85%;
    border: 8px solid white;
  }
  .game-over-header img {
    display: none;
  }
  h2 {
    margin-top: -50px;
    font-size: 30px;
  }
  .options button {
    color: red;
    border: 2px solid red;
  }
  /* Page three */
  .score-board-header img {
    display: none;
  }
  .score-board-header {
    background-color: lightgray;
  }
  .third-main {
    background-color: lightgray;
  }
}

@media only screen and (max-width: 450px) {
  /* Page One */
  .grid {
    width: 320px;
    height: 320px;
  }
  .game-board {
    margin-top: -50px;
  }
  /* Page Two */
}

/* Keyframes */

@keyframes vibrate {
  0%, 20%, 40%, 60%, 80%, 100% {
    transform: translate(-5px);
    color: red;
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translate(5px);
    color: black;
  }
}

@keyframes bring-in-main {
  0% {
    transform: translate(400px);
    color: green;
    opacity: 0.1;
  }
  100% {
    transform: translate(0px);
    color: black;
  }
}