* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#background {
  background-image: url('../Pictures/88-887616_boy-if-you-dont-stop-drake-face-png.png');
  background-repeat: repeat;
  background-size: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#game-over {
  display: none;
  justify-content: center;
  width: 100%;
  background-color: black;
}

#score-board {
  display: none;
  flex-direction: column;
  align-items: center;

}

.second-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: red;
  height: 100vh;
  width: 80%;
  text-align: center;
}

.game-over-header {
  display: flex;
  border: none;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 200px;
  background-color: red;
}

.game-over-header h1 {
  font-family: 'Press Start 2P', cursive;
}

.scores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  font-size: 30px;
}

.score-page-two {
  color: black;
  font-size: 70px;
  font-weight: black;
}

.options {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.options button {
  font-size: 20px;
  font-weight: bold;
  background-color: black;
  border: 2px solid white;
  color: white;
}

header {
  width: 70%;
  text-align: center;
  background-color: white;
  border-top: 3px solid black;
  height: 155px;
  margin-top: -50px;
  display: flex;
  flex-direction: column;
}

.instructions {
  text-align: center;
  padding: 0 140px 15px 140px;
}

h1 {
  font-size: 50px;
  letter-spacing: 15px;
  font-family: 'Gloria Hallelujah', cursive;
  margin: 20px 0 10px 0;
}

main {
  width: 70%;
  background-color: white;
  border-bottom: 3px solid black;
  padding-bottom: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.btn {
  width: 60px;
}

.game-board {
  height: 98vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header, main {
  border-right: 3px solid black;
  border-left: 3px solid black;
  margin: 0
}

.score-tag, .score {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  color: white;
}

.score-tag {
  border: 2px solid white;
  width: 115px;
  padding: 8px 0 8px 8px;
}

.score {
  color: white;
}

.grid {
  align-items: center;
  border: 5px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 700px;
  height: 700px;
  background-image: url('../Pictures/main-background.jpg');
  background-size: cover;
}

.grid div.drake-change {
  background-image: url('../Pictures/drake.png');
  background-repeat: repeat;
  background-size: contain;
}

.grid div {
  /* border: 1px solid lightgrey; */
  flex-grow: 1;
  height: 10%;
  width: 10%;
}

.grid div.drake {
  background-image: url('../Pictures/10054621_rs-214037-Screen-Shot-2015-10-23-at-11.10.18-AM.png');
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}

.grid div.drake-left {
  background-image: url('../Pictures/rs-214037-Screen-Shot-2015-10-23-at-11.10.18-AM.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.grid div.record {
  background-image: url('../Pictures/download.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.grid div.golden {
  background-image: url('../Pictures/b3c8dd2bfaf113b7d29986a4b02d556e_royalty-free-gold-records-clip-art-vector-images-illustrations-_612-592.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.grid div.drake1 {
  background-image: url('../Pictures/snake2.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.grid div.drake2 {
  background-image: url('../Pictures/snake3.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.grid div.drake3 {
  background-image: url('../Pictures/snake1.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.grid div.drake4 {
  background-image: url('../Pictures/snake4.png');
  background-repeat: no-repeat;
  background-size: contain;
}